body{
  margin:0;
  padding:0;
  font-family:garamond;
  background: url("../img/pattern.png") repeat;
}

a{
  color:blue;
}

div#header{
}
div#header h1 {
  height:66px;
  line-height:66px;
  color:#456B91;
  text-align:left;
}

.content-side{
  border:1px solid #333;
  background-color:#eee;
}
.content-side div{
  margin:3px 0 0 0;
  border:1px solid #ccc;
}
.content-side h3{
  margin-top:10px;
  font-size:16px;
  text-decoration:underline;
}

div#rosOptions{
  height:30px;
  line-height:30px;
}
div#rosOptions input[type=checkbox]{
  margin-left:20px;
}

#content-main{
  border:1px solid #333;
  margin:0 1%;
  width:48%;
  background-color:#eee;
  height:524px;
  text-overflow: auto;
}

#serviceDetails table td {
  border:1px solid #333;
  text-align:center;
}

input[readonly=readonly] {
  background-color:#ccc;
}


div.messageDetails ul {
  list-style: circle;
}
div.messageDetails ul li span.messageFieldType {
  padding:0 5px;
  font-weight:bold;
  color:cornflowerblue;
}
div.messageDetails ul li span.messageFieldName {
  color:darkblue;
}
div.messageDetails ul li span.messageFieldValue {
  padding:0 5px;
  color:black;
  background-color:#fff;
  text-decoration: underline;
}