.clearfix {
  clear:both;
}
.fleft {float:left;}
.w100p {width:100%;}
.w90p {width:90%;}
.w80p {width:80%;}
.w70p {width:70%;}
.w60p {width:60%;}
.w50p {width:50%;}
.w40p {width:40%;}
.w30p {width:30%;}
.w20p {width:20%;}
.w10p {width:10%;}