div.mavBox {
  float: left;
  margin: 10px 0 0 10px; }

div.wMavAttitude {
  width: 650px;
  height: 400px;
  background-color: #ccc;
  overflow: hidden; }
  div.wMavAttitude * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  div.wMavAttitude svg {
    float: left; }
  div.wMavAttitude div {
    float: left;
    margin-top: 5px;
    width: 200px; }
    div.wMavAttitude div a, div.wMavAttitude div label, div.wMavAttitude div span {
      float: left;
      padding: 0 0 0 5px;
      height: 18px;
      line-height: 18px;
      font-size: 14px; }
    div.wMavAttitude div label {
      font-weight: bold; }

div.wMavGps {
  width: 550px;
  height: 400px; }
