div.wMavAttitude{
  width:650px;
  height:400px;
  background-color:#ccc;
  overflow:hidden;
  * {
    box-sizing: border-box;
  }
  svg{
    float:left;
  }
  div {
    float:left;
    margin-top:5px;
    width:200px;
    a, label, span {
      float:left;
      padding:0 0 0 5px;
      height:18px;
      line-height:18px;
      font-size:14px;
    }
    label {
      font-weight: bold;
    }
    span {
    }
  }
}