div.wMavAttitude{
  width:500px;
  height:400px;
  background-color:#ccc;
  overflow:hidden;
  * {
    box-sizing: border-box;
  }
  svg{
    float:left;
  }
  div {
    float:left;
    margin-top:5px;
    width:100px;
    label, span {
      float:left;
      padding:0 0 0 5px;
      height:20px;
      line-height:20px;
    }
    label {
      width:40px;
      font-weight: bold;
    }
    span {
    }
  }
}