
.wWaypointContent {
  .wWaypointBox {
    float:left;
    h4, label, span {
      font-family: times;
    }
    h4 {
      font-weight: normal;
    }
    label {
      text-decoration: underline;
    }
    span {
      font-weight: bold;
    }
    &.wFcuStatus {
      width:300px;
      min-height: 50px;
    }
    &.wFcuCurrentPose {
      width:300px;
      min-height: 50px;
    }
    &.wFcuWaypointCommandInterface {
      float:left;
      .wFcuWaypointCommandInterfaceMap {
        width:600px;
        height:450px;
        border:1px solid #333;
      }
      .wFcuWaypointCommandInterfaceControls {
        width:600px;
        border:1px solid #333;
        button {
          margin:5px;
        }
        label {
          margin: 5px;
        }
        table.wFcuWaypointList {
          width:100%;
          thead {
            
          }
          tbody {
            
          }
        }
      }
    }
  }
}